  body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-size: cover;
            transition: background-image 1s ease-in-out;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Use a similar font */

        }

        h1 {
            color: #302946;
            font-family: 'Poppins';
			

        }
	h5 {
            color: red;
            font-family: 'Poppins';
			

      	  }
	mark { 
		background-color:    #000000   ;
		color:   #487060 ;
		padding: 10px; 
                border-radius: 18px; 
            }
	mark1 { 
		background-color:    #483632   ;
		color:   #D8E0C3 ;
		padding: 2px; 
                border-radius: 10px; 
	    }
#topRightButton {
            position: fixed;
            top: 2px; 
            right: 5px; 
            background-color: #2d333b; 
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border: 1px solid #4b5863; 
            border-radius: 6px;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease;
        }

        #topRightButton:hover {
            background-color: #24292e; 
        }

        #topRightButton i {
            margin-right: 8px;
            animation: blinkCat 3s infinite; 
        }

        @keyframes blinkCat {
            0%, 50%, 100% {
                opacity: 1;
            }
            25%, 75% {
                opacity: 0;
            }
        }
		

        .container {
            margin: 50px;
            padding: 20px;
            background-color:     #403c3b   ;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        textarea {
            width: 80%;
            height: 200px;
            margin: 20px auto;
            padding: 10px;
            font-family: 'Courier New', monospace;
            background-color: #1E1E1E;
            color: #FFFFFF;
            border: 1px solid #555;
            border-radius: 5px;
        }

        button {
            padding: 12px 28px;
            background-color: #F02B2B;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 8px;
        }

        button:hover {
            background-color: #28BD16;
        }

        #result {
            margin-top: 20px;
            font-weight: bold;
        }
